easytravel-master/easytravel-users-ws/src/generated/UsersWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UsersWebService" targetNamespace="http://armandorv.com/easytravel/usersws" xmlns:ns1="http://armandorv.com/easytravel/usersws/exception" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://armandorv.com/easytravel/usersws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://armandorv.com/easytravel/usersws" elementFormDefault="unqualified" targetNamespace="http://armandorv.com/easytravel/usersws" version="1.0">
<xs:element name="Destiny" type="tns:destiny"/>
<xs:element name="Hotel" type="tns:hotelInfo"/>
<xs:element name="deleteUser" type="tns:deleteUser"/>
<xs:element name="deleteUserByUsername" type="tns:deleteUserByUsername"/>
<xs:element name="deleteUserByUsernameResponse" type="tns:deleteUserByUsernameResponse"/>
<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>
<xs:element name="findUser" type="tns:findUser"/>
<xs:element name="findUserByUsername" type="tns:findUserByUsername"/>
<xs:element name="findUserByUsernameResponse" type="tns:findUserByUsernameResponse"/>
<xs:element name="findUserResponse" type="tns:findUserResponse"/>
<xs:element name="listNFirstUsers" type="tns:listNFirstUsers"/>
<xs:element name="listNFirstUsersResponse" type="tns:listNFirstUsersResponse"/>
<xs:element name="newUser" type="tns:newUser"/>
<xs:element name="newUserResponse" type="tns:newUserResponse"/>
<xs:complexType name="findUser">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="lastname" type="xs:string"/>
      <xs:element minOccurs="0" name="mail" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="travels" nillable="true" type="tns:travel"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="travel">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="destinies" nillable="true" type="tns:destiny"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="summary" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="destiny">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="estimatedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="flight" type="tns:flightBooking"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="hotels" nillable="true" type="tns:hotelBooking"/>
      <xs:element minOccurs="0" name="lattitude" type="xs:float"/>
      <xs:element minOccurs="0" name="longitude" type="xs:float"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="next" type="tns:destiny"/>
      <xs:element minOccurs="0" name="previous" type="tns:destiny"/>
      <xs:element minOccurs="0" name="timeZone" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="flightBooking">
    <xs:sequence>
      <xs:element minOccurs="0" name="departureDestiny" type="tns:destiny"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="hotelBooking">
    <xs:sequence>
      <xs:element minOccurs="0" name="destiny" type="tns:destiny"/>
      <xs:element minOccurs="0" name="hotelInfo" type="tns:hotelInfo"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="persons" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="hotelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="highRate" type="xs:float"/>
      <xs:element minOccurs="0" name="hotelId" type="xs:long"/>
      <xs:element minOccurs="0" name="hotelRating" type="xs:float"/>
      <xs:element minOccurs="0" name="locationDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="lowRate" type="xs:float"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUser">
    <xs:sequence>
      <xs:element name="userId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUserResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="newUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="newUserResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="listNFirstUsers">
    <xs:sequence>
      <xs:element name="n" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="listNFirstUsersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUserByUsername">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUserByUsernameResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="findUserByUsername">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findUserByUsernameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://armandorv.com/easytravel/usersws/exception" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://armandorv.com/easytravel/usersws/exception">
  <xsd:element name="UsersWsException" type="tns:UsersWsException"/>
  <xsd:complexType name="UsersWsException">
    <xsd:sequence/>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="parameters" element="tns:deleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUser">
    <wsdl:part name="parameters" element="tns:findUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part name="parameters" element="tns:deleteUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listNFirstUsers">
    <wsdl:part name="parameters" element="tns:listNFirstUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUserResponse">
    <wsdl:part name="parameters" element="tns:findUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newUser">
    <wsdl:part name="parameters" element="tns:newUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserByUsernameResponse">
    <wsdl:part name="parameters" element="tns:deleteUserByUsernameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newUserResponse">
    <wsdl:part name="parameters" element="tns:newUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUserByUsername">
    <wsdl:part name="parameters" element="tns:findUserByUsername">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UsersWsException">
    <wsdl:part name="UsersWsException" element="ns1:UsersWsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findUserByUsernameResponse">
    <wsdl:part name="parameters" element="tns:findUserByUsernameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserByUsername">
    <wsdl:part name="parameters" element="tns:deleteUserByUsername">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listNFirstUsersResponse">
    <wsdl:part name="parameters" element="tns:listNFirstUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="usersWebService">
    <wsdl:operation name="findUser">
      <wsdl:input name="findUser" message="tns:findUser">
    </wsdl:input>
      <wsdl:output name="findUserResponse" message="tns:findUserResponse">
    </wsdl:output>
      <wsdl:fault name="UsersWsException" message="tns:UsersWsException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input name="deleteUser" message="tns:deleteUser">
    </wsdl:input>
      <wsdl:output name="deleteUserResponse" message="tns:deleteUserResponse">
    </wsdl:output>
      <wsdl:fault name="UsersWsException" message="tns:UsersWsException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newUser">
      <wsdl:input name="newUser" message="tns:newUser">
    </wsdl:input>
      <wsdl:output name="newUserResponse" message="tns:newUserResponse">
    </wsdl:output>
      <wsdl:fault name="UsersWsException" message="tns:UsersWsException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listNFirstUsers">
      <wsdl:input name="listNFirstUsers" message="tns:listNFirstUsers">
    </wsdl:input>
      <wsdl:output name="listNFirstUsersResponse" message="tns:listNFirstUsersResponse">
    </wsdl:output>
      <wsdl:fault name="UsersWsException" message="tns:UsersWsException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserByUsername">
      <wsdl:input name="deleteUserByUsername" message="tns:deleteUserByUsername">
    </wsdl:input>
      <wsdl:output name="deleteUserByUsernameResponse" message="tns:deleteUserByUsernameResponse">
    </wsdl:output>
      <wsdl:fault name="UsersWsException" message="tns:UsersWsException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findUserByUsername">
      <wsdl:input name="findUserByUsername" message="tns:findUserByUsername">
    </wsdl:input>
      <wsdl:output name="findUserByUsernameResponse" message="tns:findUserByUsernameResponse">
    </wsdl:output>
      <wsdl:fault name="UsersWsException" message="tns:UsersWsException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersWebServiceSoapBinding" type="tns:usersWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsersWsException">
        <soap:fault name="UsersWsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsersWsException">
        <soap:fault name="UsersWsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="newUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="newUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsersWsException">
        <soap:fault name="UsersWsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listNFirstUsers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listNFirstUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listNFirstUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsersWsException">
        <soap:fault name="UsersWsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserByUsername">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUserByUsername">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserByUsernameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsersWsException">
        <soap:fault name="UsersWsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findUserByUsername">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findUserByUsername">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findUserByUsernameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsersWsException">
        <soap:fault name="UsersWsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersWebService">
    <wsdl:port name="UsersWebService" binding="tns:UsersWebServiceSoapBinding">
      <soap:address location="http://localhost:9090/UsersWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
